{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>George CV</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/fav.png' %}"/> 
    <link rel="preconnect" href="{% static 'https://fonts.gstatic.com'%}" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="{% static 'https://fonts.googleapis.com/css2'%}"/>
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css2'%}" media="print" onload="this.media='all'"/>
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css2'%}"/>
    <link href="{% static 'css/font-awesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/aos.css'%}" rel="stylesheet">
    <link href="{% static 'css/main.css'%}" rel="stylesheet">
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
        
      </style>
      <link rel="stylesheet" href="{% static 'css/navmain.css' %}">
  </head>
  <body id="top">
    <header class="d-print-none">
      <div class="container text-center text-lg-left">
        <div class="py-3 clearfix">
          <h1 class="site-title mb-0">George Karimi</h1>
          <div class="site-nav">
            <nav role="navigation">
              <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link" href="https://github.com/karimi-george" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/george-karimi-291951274/" title="Linkdin"><i class="fab fa-linkedin-in"></i><span class="menu-title sr-only">Linkdin</span></a>
              </li>
            </li>
            <li class="nav-item"><a class="nav-link" href="#" title="YouTube"><i class="fab fa-youtube"></i><span class="menu-title sr-only">YouTube</span></a>
            </li>
              <li class="nav-item"><a class="nav-link" href="https://twitter.com/George50528456" title="Twitter"><i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/tit.georgez" title="Facebook"><i class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a>
              </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="page-content">
      <div class="container">
<div class="cover shadow-lg bg-white">
  <div class="cover-bg p-3 p-lg-4 text-white">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="avatar hover-effect bg-white shadow-sm p-1"><img src="{% static 'images/portfolio.jpg'%}" width="200" height="200"/></div>
      </div>
      <div class="col-lg-8 col-md-7 text-center text-md-start">
        <h2 class="h1 mt-2" data-aos="fade-left" data-aos-delay="0">Designer</h2>
        <p data-aos="fade-left" data-aos-delay="100">Full stack Web Developer and Computer Electronics Engineer</p>
        <div class="d-print-none" data-aos="fade-left" data-aos-delay="200">
          <a class="btn btn-success shadow-sm mt-1 me-1" href="#contact">Hire Me</a>
          <a class="btn btn-light text-dark shadow-sm mt-1 me-1" href="/pdf">Download My CV</a>
        </div>
      </div>
    </div>
  </div>
  <div class="about-section pt-4 px-3 px-lg-4 mt-1">
    <div class="row">
      <div class="col-md-6">
        <h2 class="h3 mb-3">About Me</h2>
        <p>Hello! this is George, professional, and highly motivated engineer who have been participated in different projects. Proficient in a wide variety of engineering software. Excellent communication and time management skills. Reliable and strives to go above and beyond to deliver a project that meets and exceeds the expectations of the client.</p>
      </div>
      <div class="col-md-5 offset-md-1">
        <div class="row mt-2">

          <div class="col-sm-4">
            <div class="pb-1">Email</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">kimamogeorge69@gmail.com</div>
          </div>
          <div class="col-sm-4">
            <div class="pb-1">Phone</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">+254700698550</div>
          </div>
          <div class="col-sm-4">
            <div class="pb-1">Address</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">Remote, Freelancer</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="skills-section px-3 px-lg-4">
    <h2 class="h3 mb-3">Professional Skills</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-2"><span>Django</span>
          <div class="progress my-1">
            <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="100" data-aos-anchor=".skills-section" style="width: 100%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>HTML</span>
          <div class="progress my-1">
            <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="200" data-aos-anchor=".skills-section" style="width: 100%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>CSS</span>
          <div class="progress my-1">
            <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="200" data-aos-anchor=".skills-section" style="width: 100%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>Computer repairs</span>
          <div class="progress my-1">
            <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="300" data-aos-anchor=".skills-section" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-2"><span>Python</span>
          <div class="progress my-1">
            <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="400" data-aos-anchor=".skills-section" style="width: 100%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>Laravel</span>
          <div class="progress my-1">
            <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="500" data-aos-anchor=".skills-section" style="width: 100%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>Video editing and photoshop</span>
          <div class="progress my-1">
            <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="500" data-aos-anchor=".skills-section" style="width: 100%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-2"><span>PHP</span>
          <div class="progress my-1">
            <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="600" data-aos-anchor=".skills-section" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="work-experience-section px-3 px-lg-4">
    <h2 class="h3 mb-4">Work Experience</h2>
    <div class="timeline">
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Juniour Developer<span class="text-muted h6"> Emobilis</span></div>
          <div class="text-muted text-small mb-2">Oct 2023 - Present</div>
          <div> As a junior developer at eMobilis, I am currently working on various projects that involve Python. My role includes developing Python applications and implementing Python-based solutions.</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Data Analyst<span class="text-muted h6"> at Kenya Revenue Authority</span></div>
          <div class="text-muted text-small mb-2">Jun 2022 - September 2022</div>
          <div>As a Data Analyst at the Kenya Revenue Authority (KRA), I worked with data to support various aspects of the organization's operations. I utilized my skills in data analysis and statistics to extract insights and make informed decisions based on the available data</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">internship<span class="text-muted h6"> at The Jitu</span></div>
          <div class="text-muted text-small mb-2">current</div>
          <div>Trained on QA/QE detecting defects through testing and ensuring the quality of the finished product, QE takes a broader approach by implementing systems and practices to prevent defects throughout the development lifecycle. QE aims to deliver products to the market faster and at a lower cost by emphasizing defect prevention and continuous improvement </div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Freelance Full Stack Web Developer <span class="text-muted h6"></span></div>
          <div class="text-muted text-small mb-2">Jan, 2022 - Present</div>
          <div>I have been working as a Freelance web devloper for clients on a projects which meets and exceeds thier expectations.</div>
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="page-break"></div>
  <div class="education-section px-3 px-lg-4 pb-4">
    <h2 class="h3 mb-4">Education</h2>
    <div class="timeline">
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Bachelor Degree in Computer Science <span class="text-muted h6">from Kirinyaga University</span></div>
          <div class="text-muted text-small mb-2">2019 - 2023</div>
          <div>Leverage computing and programing knowledge with better understanding in disiplined and formal way.</div>
        </div>
      </div>
    </div>
  </div>
      <hr class="d-print-none"/>
      <div class="page-break"></div>
      <div class="education-section px-3 px-lg-4 pb-4">
      <h2 class="h3 mb-4">Licenses & Certifications</h2>
      <div class="timeline">
        <div class="timeline-card timeline-card-success card shadow-sm">
          <div class="card-body">
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Responsive Web Design<span class="text-muted h6"> free code camp</span></div>
          <div class="text-muted text-small mb-2">2022</div>
          <div>How to develop responsive website  and realworld project in addition to the online class from Google experts.</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Web Application Technologies and Django <span class="text-muted h6">from Emobilis</span></div>
          <div class="text-muted text-small mb-2">2022</div>
          <div>Help to master django by understanding depply from basic to advanced concept </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="contant-section px-3 px-lg-4 pb-4" id="contact">
    <h2 class="h3 text mb-3">Contact</h2>
    <div class="row">
      <div class="col-md-7 d-print-none">
        <div class="my-2">
  <form method="POST" action="{% url 'index' %}">
  {% csrf_token %}
    <div class="row">
    <div class="col-6">
      <input class="form-control" type="text" id="name" name="name" placeholder="Your Name" required>
    </div>
    <div class="col-6">
      <input class="form-control" type="email" id="email" name="email" placeholder="Your E-mail" required>
    </div>
  </div>
  <div class="form-group my-2">
    <textarea class="form-control" style="resize: none;" id="message" name="message" rows="4"  placeholder="Your Message" required></textarea>
  </div>
  <button class="btn btn-primary mt-2" type="submit">Send</button>
</form>
        </div>
      </div>
      <div class="col">
        <div class="mt-2">
          <h3 class="h6">Address</h3>
          <div class="pb-2 text-secondary">Remote, Freelancer</div>
          <h3 class="h6">Phone</h3>
          <div class="pb-2 text-secondary">+254700698550</div>
          <h3 class="h6">Email</h3>
          <div class="pb-2 text-secondary">kimamogeorge69@gmail.com</div>
        </div>
      </div>
      <div class="col d-none d-print-block">
        <div class="mt-2">
          <div>
            <div class="mb-2">
              <div class="text-dark"><i class="fab fa-twitter mr-1"></i><span>https://twitter.com/youraccount</span>
              </div>
            </div>
            <div class="mb-2">
              <div class="text-dark"><i class="fab fa-facebook mr-1"></i><span>https://www.facebook.com/youraccount</span>
              </div>
            </div>
            <div class="mb-2">
              <div class="text-dark"><i class="fab fa-instagram mr-1"></i><span>https://www.instagram.com</span>
              </div>
            </div>
            <div class="mb-2">
              <div class="text-dark"><i class="fab fa-github mr-1"></i><span>https://github.com/MakersG</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
    <footer class="pt-4 pb-4 text-muted text-center d-print-none">
      <div class="container">
        <div class="my-3">
          <div class="h4">GEORGE KARIMI</div>
          <div class="footer-nav">
            <nav role="navigation">
              <ul class="nav justify-content-center">
              </li>
              <li class="nav-item"><a class="nav-link" href="https://github.com/karimi-george" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/george-karimi-291951274/" title="Linkdin"><i class="fab fa-linkedin-in"></i><span class="menu-title sr-only">Linkdin</span></a>
              </li>
            </li>
            <li class="nav-item"><a class="nav-link" href="#" title="YouTube"><i class="fab fa-youtube"></i><span class="menu-title sr-only">YouTube</span></a>
            </li>
              <li class="nav-item"><a class="nav-link" href="https://twitter.com/youraccount" title="Twitter"><i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/tit.georgez"youraccountook"><i class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a>
              </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="text-small">
          <div class="mb-1">&copy; Right Resume. All rights reserved.</div>
          <div>Design - <a href="">UMS</a></div>
        </div>
      </div>
    </footer>
    <script src="{% static 'scripts/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'scripts/aos.js'%}"></script>
    <script src="{% static 'scripts/main.js'%}"></script>

  </body>
</html>