{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
      <title>Makers Group- Resume</title>
  <link rel="stylesheet" href="{% static 'css/navmain.css' %}">
  <style> 
  body {
      margin: 0;
      background-color: #fff ;
      font-size: 12px;
      font-family: 'Source Sans Pro', sans-serif;
      -webkit-font-smoothing: subpixel-antialiased;
    }
    .skillsss {
      column-count: 3;
    }
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: left;
      font-family: arial;
    }
    
    .price {
      color: grey;
      font-size: 22px;
    }
    
    .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: left;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
    
    .card button:hover {
      opacity: 0.7;
    }
  </style>
 </head>
      <body>
      <div class="page">
          <div class="section row">
              <h1 >George Karimi</h1>
              <h3>Full stack Web Developer and Computer Electronics Engineer</h3>
              <h5>Remote, Freelancer</h5>

              <div class="contact-info col-right">
                  <table >
                    <tr>
                      <td >+254700698550</td>
                      <td>kimamogeorge69@gmail.com</td>
                    </tr>
                    <tr>
                      <td>https://www.linkedin.com/in/george-karimi-291951274/</td>  
                      <td>Yourprofilowebsite.com</td>  
                    </tr>
                  </table>
                </div>
          </div>
          <div class="section row">
              <h2 class="col">Summary</h2>
              <div class="section-text col-right"><span class="key">
                Highly motivated engineer who have been participated in different projects. Proficient
                in a wide variety of engineering software. Excellent communication and time management skills. Reliable and
                strives to go above and beyond to deliver a project that meets and exceeds the expectations of the client.
              </div>
          </div>
          <h2 class="col">Experience</h2>
          <table>

         <div class="card">
          <tr>
          <td><h5>Juniour Developer</h5></td>
          <td><h5>Data Analyst</h5></td>
        </tr>
        <tr>
          <td><p>Oct 2023 - Present</p></td>
        <td><p>Jun 2022 - September 2022</p></td>
      </tr>  
    <tr>
    <td><p>As a junior developer at eMobilis, I am currently working on various projects that involve Python. My role includes developing Python applications and implementing Python-based solutions.</p></td>  
    <td><p>As a Data Analyst at the Kenya Revenue Authority (KRA), I worked with data to support various aspects of the organization's operations.
                </p></td>
        </tr>
</table>
<br>
<table>

  <div class="card">
   <tr>
   <td><h5>JITU</h5></td>
   <td><h5>Freelance Full Stack Web Developer</h5></td>
 </tr>
 <tr>
 <td><p>Current</p></td>
 <td><p>Jan, 2022 - Present</p></td>
</tr>  
<tr>
<td><p>Trained on QA/QE detecting defects through testing and ensuring the quality of the finished product, QE takes a broader approach by implementing systems and practices to prevent defects throughout the development lifecycle. QE aims to deliver products to the market faster and at a lower cost by emphasizing defect prevention and continuous improvement</p></td>  
<td><p>I have been working as a Freelance full stack website devloper for
  clients on a different projects which meets and exceeds thier expectations.</p></td>
 </tr>
</table>
<br>
          <div class="section row">
            <h2 class="col">Skills</h2>
            <div class="skillsss">
            <div class="section-text col-right row">
                <table >
                  <tr>
                    <td >Django</td>
                    <td>HTML</td>
                    <td>CSS</td>

                  </tr>
                  <tr>
                    <td>Python</td>
                    <td>Laravel</td>
                    <td>Data Analysis</td>
                  </tr>
                  <tr>
                    <td>Video editing and photoshop</td>
                    <td>PLC Programing</td>
                    <td>Computer Repaires</td>
                  </tr>
                </table>

              </div>
          </div>
        </div>
          <div class="section row">
              <h2 class="col">Education</h2>
              <div class="section-text col-right">
                  <h3><span class="emph">Bachelor Degree </span> in Electrical Engineering</h3>
                  <div>Massachusetts Institute of Technology
                  </div>
                  <div class="row">
                      <div class="col-right light">Sep 2017 - Sep 2021</div>
                  </div>
              </div>
          </div>
<br>


  <h2 class="col">Licenses & Certifications</h2>
          <table >
          <div class="card">
              <tr>
                <td><h5>Google IT Automation with Python Specialization </h5></td>
                <td><h5>Web Application Technologies and Django </h5></td>
              </tr>
              <tr>
              <td >from Google in 2020</td>
              <td>from University of California in 2020</td>
            </tr>
            <tr>
              <td><p>Override python knowledge with different assesement and 
                realworld project in addition to the online class from Google 
                experts.
              </p></td>
              <td><p> Help to master django by understanding depply
                 from basic to advanced concept
                </p> </td>
            </tr>
          </div>
          </table>
          
      </div>
  </body>
</html>
